<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %> <!--phoenix knows to pull out just the id from the topic-->
 <div class="form-group">
   <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
   <%= error_tag f, :title %>
 </div>
 <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
